{% extends "layout.html" %}

{% block content %}
  <!-- Header -->
  <header>
  <div id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="skills">AIMS DESKTOP HELP CENTRE</span>
            <hr class="star-light">
            <span class="name">System Upgrades</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="index">
  <!-- Index Grid Section -->
  <section>
    <div class="container">
      <div class="row">
      </div>
      <div id='cssmenu'>
      <ul>
        <li class='has-sub' class='active'><a href='#'><span>Upgrading from Ubuntu 12.04 LTS to Ubuntu 14.04 LTS</span></a>
          <ul>
            <li><span style="color: #424242;"><b>Step 1:</b> Remove the
                tex-common package.</span></li>
            <li><span style="color: #424242;">At the time of writing, the
                tex-common package in Ubuntu 12.04 contains problems that will
                prevent you from upgrading to Ubuntu 14.04. Before upgrading, we
                have to remove this package first. Afterwards, the tex-common
                package can be re-installed.</span></li>
            <li><span style="color: #424242;">Press <i>ctrl+alt+t</i> to open a
                terminal. In there, type the following command:
                <pre><code>sudo -E apt-get -y purge tex-common</code></pre></li>
            <li><span style="color: #424242;">From there, acknowledge all
                prompts and confirm package removal.</li>
            <li><img width="100%" alt=""
              title="An example of what to expect in your terminal. Actual output might differ slightly."
              src="static/img/screenshots/remove-tex-common.png" /></li>
            <br />
            <li><span style="color: #424242;"><b>Step 2:</b> Start the Update
                Manager</span></li>
            <li><span style="color: #424242;">When tex-common is removed, type
                <pre><code>sudo -E do-release-upgrade -d</code></pre> and follow
                the prompts to complete the upgrade. The update mechanism is
                mostly automatic.</li>
          </ul>
        </li>
        <li class='has-sub'><a href='#'><span>Upgrading from Ubuntu 14.04 LTS to Ubuntu 16.04 LTS</span></a>
          <ul>
            <li><span style="color: #424242;">Ubuntu 16.04 LTS is due for
                release in April 2016. AIMS Desktop upgrade instructions
                will be available then.</span></li>
          </ul>
        </li>
      </ul>
      </div>
    </div>
</div>
{% endblock %}
