{% extends "layout.html" %}

{% block content %}
<!-- Header -->
<header>
  <div id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="skills">AIMS DESKTOP HELP CENTRE</span>
            <hr class="star-light">

            <span class="name">Java Applets</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="index">
  <!-- Index Grid Section -->
  <section>
    <div class="container">
      <div class="row">
      </div>

      <div style="color: #424242;" id='cssmenu'>
        <h4>How to enable Java Applets</h4>
        <p><span style="color: #424242;"><b>Introduction:</b> Java apps for websites (called Java Applets) have a long history of security problems. Because of this, they are disabled for most sites and you have to add websites that you trust to an exceptions list inorder to access applets on those pages. Below is a screen shot of what you would get with a blocked site. Adding a security exception is easy following these steps:</p>
        <p><div style="text-align: center;"><img src="static/img/screenshots/java-blocked.png" alt="" /></div></p>
        <p><span style="color: #424242;"><b>Step 1: Find the domain name to be added.</b> We're going to add the domain name to the security excption list. The domain name is the first part of the web address without any subpages. For example, the domain name in 'http://www.walter-fendt.de/ph14e/acceleration.htm' would be 'http://www.walter-fendt.de'. Make a note of the domain name you'd like to add to the exception list.</span></p>
        <p><span style="color: #424242;"><b>Step 2: Open the Java Control Panel. </b> Open the Ubuntu dash, and type 'jcontrol' to find the Java Control Panel. Click on the icon labelled 'Oracle Java 8 Control Panel'.</span></p>
        <p><div style="text-align: center;"><img src="static/img/screenshots/java-launch-jcontrol.png" alt="" /></div></p>
        <p><span style="color: #424242;"><b>Step 3: Add the exception. </b> Click on the Security tab and click the "Edit Site List" button. Here you can click on "Add" to add the domain.</span></p>
        <p><div style="text-align: center;"><img src="static/img/screenshots/java-control-panel.png" alt="" /></div></p>
        <p><div style="text-align: center;"><img src="static/img/screenshots/java-exceptions-list.png" alt="" /></div></p>
        <p><span style="color: #424242;"><b>Step 4: Exit jcontrol. </b> Click on "Submit", "Ok" and "OK" again. You might have to re-launch your web browser for the setting to take effect, in some cases refresshing the page would be sufficient.</span></p>
        </li>
      </div>
    </div>
  </section>
</div>
{% endblock %}
