{% extends "layout.html" %}

{% block content %}
<!-- Header -->
<header>
  <div id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="skills">AIMS DESKTOP HELP CENTRE</span>
            <hr class="star-light">

            <span class="name">Connecting to the Internet</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="index">
  <!-- Index Grid Section -->
  <section>
    <div class="container">
      <div class="row">
      </div>
      <div id='cssmenu'>
        <ul>
          <li class='has-sub' class='active'><a href='#'><span>From within an AIMS centre</span></a>
            <ul>
              <li><span style="color: #424242;"><b>Step 1:</b> Register your
                  computer at the IT office. In some centres, your computer will
                  need to be registered on the network in order to access the
                  Internet. Check with the local IT office.</span></li>
              <li><span style="color: #424242;"><b>Step 2:</b> Check that your
                  proxy settings are correct. You can find the proxy settings
                  under System Settings -> Network -> Network proxy. If you are
                  unsure what the local proxy settings are, please get in touch
                  with the local administrator</span></li>
              <li><span style="color: #424242;"><i>Below is a screenshot
                    walkthrough of how to access the proxy settings window with
                    an example proxy configuration URL: Hover over for
                    additional tips.</i></span></li>
              <li><div style="text-align: center;"><img width="80%" src="static/img/screenshots/2017.01-access-system-settings.png" alt="" title="Find Network Settings in your user menu at the top right of your screen under your network connection." /></div></li>
              <li><img width="100%" src="static/img/screenshots/2017.01-proxy-settings.png" alt="" title="An example screenshot of the proxy settings window." /></li>

            </ul>
          </li>

          <li class='has-sub'><a href='#'><span>Outside an AIMS centre</span></a>
            <ul>
              <li><a href='#'><span>Latex</span></a></li>
              <li class='last'><a href='#'><span>R Studio</span></a></li>
              <li><a href='#'><span>Sage Math</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <br /> <br />
</div>
{% endblock %}
