{% extends "layout.html" %}

{% block content %}
<!-- Header -->
<header>
  <div id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="skills">AIMS DESKTOP HELP CENTRE</span>
            <hr class="star-light">
            <span class="name">Mounting Remote Servers in Nautilus</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="index">
  <!-- Index Grid Section -->
  <section>
    <div class="container">
      <div class="row">
      </div>
      <div stule="color: #424242;" id="cssmenu">
        <h4>How to mount a SSH/SFTP Server in Nautilus</h4>
        <p><span style="color: #424242;"><b>Introduction:</b> Servers that you
          normally ssh into can be accessed through the Nautilus file manager.
          This allows you browse your remote files, edit them and copy to and
          from the remote server.</span></p>
        <p><span style="color: #424242;"><b>Step 1:</b> Open Nautilus/Files</span></p>
        <p><span style="text-align: center"><img alt="" src="static/img/screenshots/2017.01-nautilus-ssh-1.png" /></span></p>
        <p><span style="color: #424242;"><b>Step 2:</b> In the location pane,
          click on <em>Other Locations</em>.</span></p>
        <p><span style="text-align: center"><img alt="" src="static/img/screenshots/2017.01-nautilus-ssh-2.png" /></span></p>
        <p><span style="color: #424242;"><b>Step 3:</b> At the bottom there is a
          field to <em>Connect to Server</em>.</span></p>
        <p><span style="text-align: center"><img alt="" src="static/img/screenshots/2017.01-nautilus-ssh-3.png" /></span></p>
        <p><span style="color: #424242;"><b>Step 4:</b> In this field enter
          <code>ssh://&lt;user&gt;@&lt;server&gt;</code>, where
          <code>&lt;user&gt;</code> is your username and
          <code>&lt;server&gt;</code> is the address of the server you are
          connecting to.  Replace <code>ssh</code> with <code>sftp</code> if you
          wish to connect to a SFTP server.</span></p>
        <p><span style="color: #424242;"><b>Step 5:</b> This will prompt you for
          a password if necessary and mount the location. You will see the
          server in the left panel and a listing of files on the right.</span></p>
        <p><span style="color: #424242;"><b>Step 6:</b> If you wish to bookmark this server for future use,
        right-click on the server in the location pane and select
        <em>Add Bookmark</em></span></p>
        <p><span style="text-align: center"><img alt="" src="static/img/screenshots/2017.01-nautilus-ssh-4.png" /></span></p>
      </div>
    </div>
  </section>
</div>
{% endblock %}
