{% extends "layout.html" %}

{% block content %}
  <!-- Header -->
  <header>
  <div id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="skills">AIMS DESKTOP HELP CENTRE</span>
            <hr class="star-light">
            <span class="name">System Upgrades</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="index">
  <!-- Index Grid Section -->
  <section>
    <div class="container">
      <div class="row">
      </div>
      <div id='cssmenu'>
      <ul>
        <li class='has-sub' class='active'><a href='#'><span>Upgrading from Ubuntu 14.04 LTS to AIMS Desktop 2017.01</span></a>
          <ul>
            <li><span style="color:#424242;"><b>If you are uncertain about the
                  following, ask your local IT Office to do the install for you</b></span></li>
            <li><span style="color: #424242;"><b>Step 1:</b> Backup all your data</span></li>
            <li><span style="color: #424242;">It is not possible to update from
                Ubuntu to Debian in place, this means you must format and
                install from scratch to upgrade.</span></li>
            <li><span style="color: #424242;"><b>Step 2:</b> Download the latest
                <a href="https://releases.aims.ac.za/aims-desktop/">AIMS Desktop ISO</a></span></li>
            <li><span style="color: #424242;"><b>Step 3:</b> Insert a flash drive into your computer</span></li>
            <li><span style="color: #424242;"><b>Step 4:</b> Open a terminal and run
                <pre><code>lsblk</code></pre></span></li>
            <li><span style="color: #424242;">This will list all the drives
                connected to your computer. Find the one that corresponds to
                your flash drive. Usually it is sdX, where X is a letter (b, c, etc.).</span></li>
            <li><span style="color: #424242;"><b>Step 5:</b> In the terminal type
                <pre><code>sudo dd if=aims-desktop-2017.1-beta1-20170206-amd64.iso of=/dev/sdX bs=1M progress=status</code></pre></span></li>
            <li><span style="color: #424242;">Where aims-desktop-2017.1-beta1-20170206-amd64.iso
                is the path of the ISO you downloaded and sdX is the name of
                your flash drive from the previous command.</span></li>
            <li><span style="color: #424242;"><b>Step 6:</b> Restart your computer and boot from the flash drive</span></li>
            <li><span style="color: %424242;"><b>Step 7:</b> Run the installer and follow the prompts.</span></li>
          </ul>
        </li>
      </ul>
      </div>
    </div>
  </section>
</div>
{% endblock %}
