{% extends "layout.html" %}

{% block content %}
<!-- Header -->
<header>
  <div id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="skills">AIMS DESKTOP HELP CENTRE</span>
            <hr class="star-light">

            <span class="name">Installing Packages</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="index">
  <!-- Index Grid Section -->
  <section>
    <div class="container">
      <div class="row">
      </div>

      <div id='cssmenu'>
        <ul>
          <li><span style="color: #424242;"><b>Step 1:</b> Open a terminal window</span></li>
          <li><span style="color: #424242;"><b>Step 2:</b> Type 
              <pre><code>sude apt install $package</code></pre></span></li>
          <li><span style="color: #424242;">Where $package is the name of the
              package you wish to install</span></li>
          <li><span style="color: #424242;"><b>Step 3:</b> Enter you password
              if promptet, review the packages that will be installed and if you are happy type
              <code>y</code> to allow the install to happen</span></li>
        </ul>
      </div>
    </div>
</div>
{% endblock %}
