{% extends "layout.html" %}

{% block content %}
<!-- Header -->
<header>
  <div id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="skills">AIMS DESKTOP HELP CENTRE</span>
            <hr class="star-light">
            <span class="name">Changing Your Password</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="index">
  <!-- Index Grid Section -->
  <section>
    <div class="container">
      <div class="row">
      </div>
      <div id="cssmenu">
        <ul>
          <li class="has-sub" class="active"><a href="#"><span>GNOME Desktop</span></a>
            <ul>
              <li><span style="color: #424242;"><b>Step 1:</b> Open the Activities
                  overview and start typing <em>Users</em>.</span></li>
              <li><img width="100%" alt="" title="Finding the Users settings in GNOME"
                src="static/img/screenshots/2017.01-change-password-1.png" /></li>
              <li><span style="color: #424242;"><b>Step 2:</b> Click <em>Users</em> to
                  open the panel.</span></li>
              <li><img alt="" width="100%" title="The Users panel in GNOME"
                src="static/img/screenshots/2017.01-change-password-2.png" /></li>
              <li><span style="color: #424242;"><b>Step 3:</b> Click the label next to
                  <em>Password</em>.</span></li>
              <li><span style="color: #424242;"><b>Step 4:</b> Enter your current
                  password, then a new password.</span></li>
              <li><span style="color: #424242;">Enter your new password again in the
                  <em>Verify New Password</em> field. You can press the gear icon to
                  automatically generate a random password.</span></li>
              <li><img width="100%" alt="" title="The change password dialog"
                src="static/img/screenshots/2017.01-change-password-3.png" /></li>
              <li><span style="color: #424242;"><b>Step 5:</b> Click <em>Change</em>.</span></li>
            </ul>
          </li>
          <li class="has-sub" class="active"><a href="#"><span>Command Line</span></a>
            <ul>
              <li><span style="color: #424242;"><b>Step 1:</b> Open the terminal</span></li>
              <li><span style="color: #424242;"><b>Step 2:</b> Enter
                  <pre><code>passwd</code></pre> and follow the prompts</span></li>
              <li><span style="color: #424242;">Enter your current password, your new
                  password and then confirm your new password. You will not be able to
                  see your password when you type it in.</span></li>
            </ul>
          </li>
          <li class="has-sub" class="active"><a href="#"><span>Choosing a Strong Password</span></a>
            <ul>
              <li><span style="color: #424242;">Make your passwords easy enough for
                  you to remember, but very difficult to for others to guess. Your
                  password guards your personal information, so you should make sure
                  it is a strong one.</span></li>
              <li><span style="color: #424242;">Use a mixture of upper-case and
                  lower-case letters, numbers, symbols and spaces in the password. A
                  good way of doing this to the take the first letter of each word
                  and the grammar of a phrase you can remember.</span></li>
              <li><span style="color: #424242;">Make your password as long as
                  possible. This makes it difficult for a person or computer to guess
                  it.</span></li>
              <li><span style="color: #424242;">Do not use one or two words from a
                  dictionary in any language. These are what programs use to try crack
                  your password.</span></li>
              <li><span style="color: #424242;">Do not use any personal information
                  such as a date, family member's name or a pet.</span></li>
              <li><span style="color: #424242;">Never write your password down.</span></li>
              <li><span style="color: #424242;">Use different passwords for different
                  things.</span></li>
            </ul>
        </ul>
      </div>
    </div>
  </section>
</div>
{% endblock %}
