<div id="about">
  <!-- About Section -->
  <section class="success">
    <div class="container" style="margin-top: 0px;">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>About</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <p>The African Institute for Mathematical Sciences (AIMS) is a pan-African network of centres
          of excellence for postgraduate education, research and outreach in mathematical sciences.</p>
          <p>Read More about AIMS...</p>
        </div>
        <div class="col-lg-4">
          <p>AIMS Desktop is an Debian-based system that includes a selection of mathematical and scientific software that are completely free and open source.</p>
          <p>It is free to download, use and distribute.</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://releases.aims.ac.za/aims-desktop/" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> Download AIMS Desktop
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
