<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>In Progress</h3>
          <p>This site is early work in progress. We're working on continuously improving it.</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Donate</h3>
          <p>AIMS-desktop, installing Science Software on Debian, so you don't have to!</p>
          <a href="https://www.givengain.com/cgi-bin/giga.cgi?cmd=donate&cause_id=2319">Donate</a>
        </div>
        <div class="footer-col col-md-4">
          <h3>Get Involved</h3>
          <p>Want to submit a patch/suggestion to this site? Submit a pull
          request <a href="https://bitbucket.org/aims_za/aims-help-centre">on Bitbucket</a>.
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; 2015-2017 African Institute of Mathematical Sciences
        </div>
      </div>
    </div>
  </div>
</footer>
