<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>AIMS Desktop Help Center</title>

  <!-- CSS -->
  <link href="static/css/bootstrap.css" rel="stylesheet">
  <link href="static/css/aims-help.css" rel="stylesheet">
  <link href="static/css/accordion.css" rel="stylesheet">

  <!-- Javascript -->
  <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="static/js/accordion.js"></script>

  <!-- Custom Fonts -->
  <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Favicon --> 
  <link rel="icon" type="image/png" href="static/img/aims-favicon.png" />

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- jQuery -->
  <script src="static/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="static/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="static/js/classie.js"></script>
  <script src="static/js/cbpAnimatedHeader.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="static/js/jqBootstrapValidation.js"></script>
  <script src="static/js/contact_me.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="static/js/freelancer.js"></script>
</head>

