{% extends "layout.html" %}

{% block content %}
    <!-- Header -->
    <header>
    <div id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                                               <div class="intro-text">
                        <span class="skills">AIMS DESKTOP HELP CENTRE</span>
                        <hr class="star-light">

                        <span class="name">Topic Title</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </header>

<div id="index">
    <!-- Index Grid Section -->
    <section>
<div class="container">
    <div class="row">
    </div>

<div id='cssmenu'>
<ul>
   <li class='has-sub' class='active'><a href='#'><span>Expandable Section 1</span></a>
     <ul>
        <li><span style="color: #424242;"><b>Step 1:</b> Bullet Point.</span></li>
     </ul>
   </li>
   <li class='has-sub'><a href='#'><span>Expandable Section 2</span></a>
      <ul>
        <li><span style="color: #424242;"><b>Step 1:</b> Bullet Point.</span></li>
      </ul>
   </li>

</div>

</ul>
</div>

</div>
{% endblock %}
