<!-- Header -->
<header>
  <div id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive" src="static/img/profile.png" alt="">
          <div class="intro-text">
            <span class="name">AIMS Desktop</span>
            <hr class="star-light">
            <span class="skills">Help Centre</span>
            <p>Note: This site is currently early work in progress.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
