{% extends "layout.html" %}

{% include "herobanner.html" %}

{% block content %}
<div id="index">
  <!-- Index Grid Section -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Help Contents</h2>
          <hr class="star-primary">
        </div>
      </div>

      <div id='cssmenu'>
        <ul>
          <!--   <li class='active'><a href='#'><span>Home</span></a></li> -->
          <li class='has-sub' class='active'><a href='#'><span>Popular Articles</span></a>
            <ul>
              <li><a href='2017.01-help-topic-connect-to-internet.html'><span>Connecting to the Internet</span></a></li>
              <li><a href='2017.01-help-topic-change-password.html'><span>Changing your Password</span></a></li>
              <li><a href='2017.01-help-topic-system-upgrades.html'><span>System Upgrades</span></a></li>
              <li class='last'><a href='2017.01-help-topic-install-package.html'><span>Installing Packages</span></a></li>
            </ul>
          </li>

          <li class='has-sub'><a href='#'><span>Math & Science Software</span></a>
            <ul>
              <li><a href='#'><span>TODO: Latex</span></a></li>
              <li class='last'><a href='#'><span>TODO: R Studio</span></a></li>
              <li><a href='#'><span>TODO: Sage Math</span></a></li>
            </ul>
          </li>

          <li class='has-sub'><a href='#'><span>Desktop Assistance</span></a>
            <ul>
              <li><a href='2017.01-help-topic-ssh-in-nautilus.html'><span>Adding SSH Drives in Nautilus (Files)</span></a></li>
              <li><a href='#'><span>TODO: AIMS Desktop Tips and Tricks</span></a></li>
              <li><a href='#'><span>TODO: Customizing your system</span></a></li>
              <li><a href='2017.01-help-topic-install-package.html'><span>Installing Packages</span></a></li>
              <li><a href='#'><span>TODO: VirtualBox Guide</span></a></li>
            </ul>
          </li>

          <li class='has-sub'><a href='#'><span>Troubleshooting Common Problems</span></a>
            <ul>
              <li><a href=''><span>TODO: Sage Notebook Doesn't start up</span></a></li>
            </ul>
          </li>

          <li class='has-sub'><a href='#'><span>Ubuntu Related Links</span></a>
            <ul>
              <li><a href='https://help.ubuntu.com/'><span>Ubuntu Help Site</span></a></li>
              <li><a href='http://askubuntu.com'><span>AskUbuntu.com</span></a></li>
            </ul>
          </li>
      </div>

        </ul>
    </div>
</div>

<div id="about">
  <!-- About Section -->
  <section class="success">
    <div class="container" style="margin-top: 0px;">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>About</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <p>The African Institute for Mathematical Sciences (AIMS) is a pan-African network of centres
          of excellence for postgraduate education, research and outreach in mathematical sciences.</p>
          <p>Read More about Aims...</p>
        </div>
        <div class="col-lg-4">
          <p>AIMS Desktop is a Debian-based system that includes a selection of mathematical and scientific software that are completely free and open source.</p>
          <p>It is free to download, use and distribute.</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://releases.aims.ac.za/aims-desktop/" target="_blank" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> Download AIMS Desktop
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
